<html>
<head>
    <title>MyApp #1: The Box App</title>
    <meta charset='utf-8' />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>Vue Demo : DarConf version 2 - modif cristian</h1>
    <div id="vapp">
        <ul id="example-1">
            <li v-for="user in users">
               Nombre: {{ user.name }}, Edad: {{user.age}}
            </li>
        </ul>
    </div>
<script>
const vueApp = new Vue({
    el: '#vapp',
    data: { 
        users: {
        }
    },
    async mounted() {
        const response = await axios.get('/users')
        this.users = response.data
    }
})
</script>
</body>
</html>